@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--b1); /* DaisyUI base-100 variable is --b1 internally */
}

